<%- include("./header") %>
<form action="/" method="POST">
	<label>Honoree Name: </label>
	<input type="text" placeholder="Honoree" name="honoree"><br><br>
	<button>Submit</button>
</form>
<%- include("./footer") %>
