<%- include("./header") %>
<p>
Happy birthday to you               <br>
Happy birthday to you               <br>
Happy birthday, dear <%= Honoree %> <br>
Happy birthday to you               <br>
</p>
<%- include("./footer") %>